*{
    font-family: 'Montserrat','Source Sans Pro',-apple-system,BlinkMacSystemFont,'Segoe UI',
    Roboto,'Helvetica Neue',Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer{
    margin: 140px 0 0 0;
    padding: 30px 0;
}
.hooper{
    height: auto !important;
}
body .el-button{
    font-size: 13px;
}
.bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
img {
    vertical-align: middle;
}
.link-navbar{
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin: 0 0 0 25px;
    padding: 6px 10px;
}
.link-navbar:hover{
    color: rgb(104, 0, 0);
}
.popover-nav{
    left: 0px !important;
    right: 0px !important;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 0%) !important;
    border-color: #fff !important;
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-radius: 0px !important;
    max-width: 1073px !important;
    margin: 12px auto !important;
    padding: 10px 60px 10px 10px !important;
    word-break: unset !important;
}
.popover-nav .popper__arrow{
    left: 237px !important;
}
.popover-nav>ul{
    /* max-width: 1100px; */
    padding: 0;
    margin: 0 auto;
    float: left;
    width: 100%;
}
.popover-nav>ul li{
    list-style: none;
    float: left;
    width: 25%;
}
.popover-nav>ul li a{
    text-decoration: none;
    padding: 7px 5px;
    /* float: left; */
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    color: #334;
    text-align: left;
    line-height: 1.2;
    position: relative;
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    height: 45px;
}
.popover-nav>ul li a:hover{
    background: #f9f9f9;
    transition: .2s;
}
.popover-nav>ul li a i{
    float: left;
    /* width: 100%; */
    margin: 0 10px 0px 0px;
    font-size: 27px;
}
.clearfix:before {
    display: table;
    content: " ";
  }
  .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
  
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 860px) {
    .container {
      width: 860px;
    }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 1080px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
header{
    padding: 10px 0;
    margin-bottom: 30px;
}
.logotip{
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}
.logotip a{
    float: left;
}
.logotip img{
    max-height: 100%;
    width: 130px;
}
.page-component {
    height: 100%;
}
.index-slider{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.header-nav{
    float: left;
    margin: 0 0 0 20px;
    width: 100%;
}
.header-nav .header-cat{
    padding: 10px 20px;
    background: #f8f8f8;
    border: 0px solid #DCDFE6;
    float: left;
}
.header-logout>button{
    border: none;
    padding: 10px 20px;
}
/* .header-nav .header-logout button i{

} */
.header-nav .header-cat i{
    float: right;
    position: relative;
    top: 1px;
    margin: 0 0 0 6px;
}
header .contents {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-basket{
    float: right;
    margin: 0 30px;
}
.header-basket>button{
    font-size: 23px;
    padding: 4px 5px;
}
.header-logout{
    float: right;
}
.header-nav-refresh{
    position: absolute;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #ff5200;
}
/* .header-nav-refresh i{

} */
.el-row {
    margin-bottom: 20px;
}
.el-col {
    border-radius: 4px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
.index-topcat,.index-brand{
    float: left;
    width: 100%;
}
.index-topcat-all{
    float: left;
    width: 100%;
    margin: 10px 0 30px;
    display: none;
}
.index-topcat-all a{
    float: right;
    font-size: 11px;
    margin: 0 10px 0 0;
}
.index-brand-all{
    float: left;
    width: 100%;
    margin: 10px 0 30px;
}
.index-brand-all a{
    float: right;
    font-size: 11px;
    margin: 0 10px 0 0;
}
.index-topcat-block{
    position: relative;
    height: 150px;
    float: left;
    display: flex;
    align-items: center;
}
.index-topcat-block>strong{
    float: left;
    width: 55%;
    display: flex;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 900;
    color: #333;
    flex-flow: column;
    height: 150px;
    justify-content: center;
}
.index-topcat-block>strong>span{
    width: 100%;
    font-size: 10px;
    padding: 10px 0 0;
    font-weight: 400;
    align-items: end;
}
.index-topcat-block>img{
    float: left;
    width: 45%;
    height: 150px;
    object-fit: contain;
}
.index-topcat .nuxt-link-cat,.index-brand .nuxt-link-cat{
    margin: 0 0 10px 0;
    float: left;
}
.index-brand-block{
    position: relative;
    float: left;
    width: 100%;
    background-color: #b04c68;
    border-radius: 8px;
    height: 220px;
}
.index-brand .nuxt-link-cat{
    width: 100%;
    text-align: center;
    padding: 0 10px;
}
.index-brand-block-desc{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    right: 0px;
    top: 0px;
    left: 0;
    bottom: 0;
    /* background: rgba(0,0,0,0.36078); */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    display: flex;
    flex-flow: column-reverse;
    background: linear-gradient( 
4deg
 , rgb(0 0 0 / 25%), rgb(0 0 0 / 0%));
}
.index-brand-block-desc> span{
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    margin: 5px 0 5px;
}
.index-brand-block-desc> strong{
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    margin: 5px 0 5px;
}
.index-brand-block img{
    padding: 25px 0px 60px;
    max-height: 200px;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.index-topcat h4,.index-brand h4{
    margin: 0 0 20px;
    font-size: 17px;
    font-weight: 700;
    display: none;
}
.index-desc{
    float: left;
    width: 100%;
    margin: 150px 0 50px;
}
.index-desc-block{
    padding: 80px 60px 65px;
    border-radius: 10px;
    background: #333;
    float: left;
    width: 100%;
    position: relative;
}
.index-desc-text{
    float: left;
    width: 60%;
    color: #fff;
}
.index-desc-text h4{
    float: left;
    width: 100%;
    margin: 0px 0 15px;
    font-size: 26px;
    color: #fff;
}
.index-desc-text span{
    float: left;
    width: 100%;
    margin: 0px 0 15px;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
    max-width: 540px;
}
.index-desc-img{
    position: relative;
    float: left;
    width: 40%;
}
.index-desc-img .el-image{
    position: absolute;
    top: -140px;
    width: 100%;
    height: 240px;
    object-fit: contain;
}
.index-desc-img img{

}
.cat-filter .cat-filter-check{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.cat-filter .el-checkbox__label {
    font-size: 12px;
    display: block;
    margin: 0 0 0 10px;
    float: none;
    line-height: 1.4;
}
.cat-filter .el-checkbox__label:hover{
    color: #409EFF;
}
.cat-filter .el-checkbox__input{
    float: left;
    margin: 2px 0 0;
}
.cat-filter ul{
    padding: 0;
    margin: 0 0 10px 0;
    float: left;
    width: 100%;
}
.cat-filter ul li{
    list-style: none;
}
.cat-filter .el-checkbox-group{
    float: left;
    width: 100%;
    margin: 0 0 15px;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 5px;
}
.cat-filter .el-checkbox-group .el-checkbox{
    float: left;
    width: 100%;
    margin: 0 0 8px;
    white-space: normal;
}
.cat-filter-title{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 800;
    color: #787878;
}
.cat-filter-check{
    font-size: initial;
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.cat-filter h3{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.cat-filter-section{
    float: left;
    width: 25%;
    padding: 0 20px 0 0;
}
.catalog-list{
float: left;
width: 75%;
}
.catalog-list-block{
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    /* border: 1px solid #f4f4f4; */
    margin: 0 0 10px;
}
.catalog-list-img{
    height: 180px;
    margin: 0 0 0px;
    width: 190px;
    float: left;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
    position: relative;
}
.catalog-list-block .el-image{
    float: left;
    width: 100%;
    height: 100%;
}
/*.catalog-list-block .el-image:hover{
 box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
transition: .3s;
border: 1px solid #fff; 
}*/
.catalog-list-block-desc>a:hover .catalog-list-block .el-image{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    transition: .3s;
    border: 1px solid #fff;
}
.catalog-list-block img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;

}
.catalog-list-block-desc{
    margin: 0px 0 0 210px;
    display: block;
}
.catalog-list-block-desc>a,.catalog-list-block-desc>span{
    float: left;
    width: 100%;
    height: 120px;
    font-size: 13px;
    overflow: hidden;
    line-height: 1.4;
    text-decoration: none;
    color: #333;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
.cost-product-input .el-radio__label>span{
    position: absolute;
    right: -4px;
    top: -4px;
}
.cost-product-input .el-radio__label>span .el-button{
    padding: 2px;
    font-size: 14px;
    border: none;
    background: #fafafa;
    color: #c56363;
}
.cost-product-input .el-radio__label>span .el-button:hover{
    color: #777777;
}
.catalog-list-block-price{
    float: left;
    width: 100%;
    /* color: #dd6161; */
    color: #686868;
    position: relative;
}
.catalog-list-block-price>strong{
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.catalog-list-block-price>span{
    font-size: 10px;
    font-weight: 600;
    margin: 10px 0 0 5px;
    float: left;
}
.catalog-list-block-discount{
    position: absolute;
    top: -10px;
    color: #e11e1e;
    margin: 0 0 0 55px;
}
.catalog-list-block-discount>strong{
    font-size: 14px;
    font-weight: 800;
    float: left;
}
.catalog-list-block-discount>span{
    font-size: 10px;
    float: left;
    margin: 4px 0 0 2px;
    font-weight: 600;
    display: none;
}
.catalog-list-block-cost{
    float: left;
    width: 100%;
    margin: 2px 0 0;
    opacity: 0.5;
}
.catalog-list-block-cost>strong{
    font-size: 13px;
    font-weight: 600;
    float: left;
}
.catalog-list-block-cost>span{
    font-size: 9px;
    font-weight: 600;
    margin: 3px 0 0 2px;
    float: left;
}
.catalog-list-block-button{
    float: right;
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: 15;
    background: #fff;
    padding: 3px;
    border-radius: 50%;
    /* transition: all .5s; */
}
.catalog-list-block-button button{
    font-size: 15px;
    color: #fa9600 !important;
    background: #fff2df !important;
    border-color: #fff2df !important;
}
.catalog-list-block-button button:hover{
    background: #fa9600 !important;
    border-color: #fa9600 !important;
    color: #FFF !important;  
}
.h1-product{
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    max-width: 700px;
}
.h2-product{
    float: left;
    width: 100%;  
    margin: 0px 0 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    max-width: 700px;
}
.galery{
    float: left;
    width: 50%;
}
.galery-index .el-image{
    height: 100%;
    width: 100%;
}
.galery-index{
    float: left;
    width: 50%;
    height: 280px;
    padding: 5px;
}
.galery-extra{
    float: left;
    width: 50%;
    height: 280px;
    position: relative;
}
.galery-extra-block{
    float: left;
    width: 100%;
    height: 140px;
    padding: 5px;
    position: relative;
}
.galery-extra .el-image{
    height: 100%;
    width: 100%;
}
.galery-extra img,.galery-index img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid #efefef;
    border-radius: 7px;
    padding: 5px;
}
.galery-extra-plus{
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    background: rgb(51 51 51 / 22%);
    border-radius: 7px;
    pointer-events: none;
}
.el-image:hover~.galery-extra-plus{
    transition: .2s;
    background: rgb(51 51 51 / 32%);
}
/* .galery-extra-plus span{

} */
.galery-extra-plus strong{
    font-weight: 600;
    cursor: pointer;
}
.tabs-product{
    float: left;
    width: 100%;
    margin: 60px 0 30px;
}
.tabs-product .el-tabs__content{
    padding: 0 15px;
    line-height: 1.4;
}
.el-breadcrumb{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    font-size: 12px !important;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    font-weight: 600;
}
.cost-product-section{
    float: left;
    width: 50%;
    padding: 10px 15px 10px 30px;
}
.cost-product-price{
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
.cost-product-input{
    float: left;
    width: 100%;
    margin: 0px 0 20px 0;  
}
.cost-product-price>span{
    float: left;
    font-size: 25px;
    font-weight: 700;
    color: #686868;
    /* color: #df4d19;*/
}
.cost-product-price>strong{
    font-size: 14px;
    font-weight: 500;
    padding: 9px 0 0 5px;
    float: left;
    color: #686868;
}
.cost-product-input>strong{
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 500;
    float: left;
    width: 100%;
}
.cost-product-input .el-radio{
    margin-right: 5px !important;
    margin-left: 0px !important;
    margin: 0 0 5px;
    position: relative;
}
.cost-product-amount{
    float: left;
    width: 100%;
    margin: 0px 0 20px;
}
/* .cost-product-section .el-button--warning{
    background: #df4d19;
    border-color: #df4d19;
} */
/* .cost-product-section .el-button--warning:hover{

} */
.cost-product-char{
    float: left;
    width: 100%;
    margin: 0px 0 0;
    position: relative;
}
.cost-product-char p{
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    border-bottom: 2px dotted #e2e2e2;
}
.cost-product-char p>span{
    font-size: 13px;
    font-weight: 400;
    background: #fff;
    padding: 3px 0px 5px 15px;
    position: relative;
    bottom: -2px;
}
.cost-product-char p>strong{
    font-size: 13px;
    font-weight: 500;
    /* background: #fff; */
    padding: 3px 7px 3px 0;
    position: relative;
    bottom: -2px;
}
.cost-product-char-all{
    transform: rotate( 
    90deg
    );
    /* padding: 5px; */
    border-radius: 50%;
    /* background: #fa9600; */
    text-align: center;
    width: 26px;
    height: 26px;
    color: #fa9600;
    float: right;
    font-size: 19px;
    margin: 0 -6px 0 0;
}
.cost-product-char-all:hover{
    color: #ff7601 !important;
}
.cost-all-top{
    transform: rotate( 
270deg
 );
}
.catalog-paginated{
    float: right;
    width: 75%;
}
.catalog-list-input{
    position: absolute;
    padding: 15px 15px 10px;
    background: #fff;
    /* bottom: -27px; */
    z-index: 20;
    /* border: 1px solid #e2e2e2; */
    border-radius: 6px;
    left: 0px;
    right: 0px;
    margin: 192px 0 0 0;
    box-shadow: 0px 6px 18px -13px #333;
}
.catalog-list-input .cost-product-input{
    margin: 0 0 10px;
}
.catalog-list-input .cost-product-amount{
    margin: 0 0 10px;
}
.catalog-list-input .cost-product-char{
    margin: 10px 0 0;
}
.activeImgBlock{
    box-shadow: 0px 0px 18px -13px #333;
}
.activeImgCat{
    border: 1px solid #fff;
}
.catalog-list-input>div>.el-button{
    padding: 10px 20px !important;
    font-size: 12px !important;
    color: #FFF;
    background-color: #ff9900 !important;
    border-color: #ff9900 !important;
}
.catalog-list-input>div>.el-button.is-disabled{
    background-color: #f3c784!important;
    border-color: #f3c784!important;
    color: #ffffff;
}
.catalog-list-input>strong{
float: left;
width: 100%;
margin: 10px 0;
}
/* .catalog-list-input>button{

} */
.catalog-list-input-cost{
float: left;
width: 100%;
}
.catalog-list-input-cost>strong{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.catalog-list-input-cost>span{
    font-size: 10px;
    font-weight: 600;
    margin: 10px 0 0 5px;
    float: left;
}
.activeButCat{
    z-index: 30;
    transition: opacity 1s;
}
.activeButCat>.el-button--danger.is-plain {
    background: #fa9600 !important;
    border-color: #fa9600 !important;
    color: #FFF !important;
    outline: 0;
}
.catalog-list-input .cost-product-char p{
    margin: 0 0 5px;
}
.catalog-list-input .cost-product-char p>strong, .catalog-list-input .cost-product-char p>span{
    font-size: 12px;
}
.catalog-list-input .el-radio__label{
    font-size: 10px !important;
}
.cost-product-block .cost-product-price-catalog{
    width: auto;
    float: right;
    margin: 4px 0 0 0;
}
.cost-product-block .cost-product-price-catalog span{
    font-size: 19px;
    float: left;
    font-weight: 700;
    color: #686868;
}
.cost-product-block .cost-product-price-catalog strong{
    font-size: 11px;
    font-weight: 600;
    padding: 8px 0 0 5px;
    float: left;
    color: #686868;
}
.el-radio.is-bordered.is-checked {
    border-color: #808080 !important;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #4f4f4f !important;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #6c6c6c !important;
    background: #6c6c6c !important;
}
/* .cost-product-section .cost-product-price-catalog{
    display: none;
} */
.catalog-list-input .cost-product-price-tovar{
    display: none;
}
body .el-form-item{
    margin-bottom: 15px;
}
body .el-form-item__label{
    line-height: 30px;
}
body .el-dialog__body{
    padding: 30px 20px 20px;
}
.slider-block{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 50px;
}
.slider-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgb(1 1 1 / 28%); */
    z-index: 10;
    padding: 130px 70px 30px;
    background-image: -webkit-linear-gradient(left, rgb(12 12 12 / 42%) 22%, rgb(12 12 12 / 1%), rgba(31,31,31,0));
}
.slider-content h3{
    line-height: 1.3em !important;
    margin: 0 0 20px !important;
    color: #fff !important;
    opacity: 0.9 !important;
    font-size: 20px !important;
    max-width: 410px;
}
.slider-content p{
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
    max-width: 410px;
}
.slider-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.basket-tov{
    width: 100%;
    padding: 0px;
    display: inline-block;
    margin: 0 0 10px;
}
.basket-tov-img{
    float: left;
    width: 100px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.basket-tov-img img{
    max-width: 100%;
    max-height: 100%;
}
.basket-tov-desk{
    margin-left: 115px;

}
.basket-tov-desk .basket-tov-desk-left{
    font-size: 12px;
    width: 40%;
    line-height: 1.2;
    font-weight: 600;
    /* display: flex; */
    align-items: center;
    height: 90px;
    float: left;
    padding: 0 15px 0 0;
}
.basket-tov-desk-left>strong{
    height: 40px;
    overflow: hidden;
    float: left;
}
.basket-tov-cost>span{
    margin: 4px 6px 0px 3px;
    font-size: 10px;
    font-weight: 600;
}

.basket-tov-cost>strong{
    font-size: 16px;
}
.basket-tov-cost>strong>span{
    font-size: 10px;
    font-weight: 600;
    padding: 0 0 0 3px;
}
.basket-tov-cost .basket-tov-cost-span{
    width: auto;
    float: none;
    font-weight: 600;
    margin: 4px 0 0 3px;
}
.basket-tov-cost{
    float: left;
    padding: 0 0px 0 10px;
    width: 15%;
    justify-content: left;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
.basket-block-discount{
    position: absolute;
    top: 9px;
    color: #e11e1e;
    margin: 0 0 0 55px;
}
.basket-block-discount>span{

}
.basket-block-discount>strong{
    font-size: 12px;
    font-weight: 700;
    float: left;
}
.basket-tov-calc{
    float: left;
    padding: 0 0px 0 0px;
    width: 20%;
    justify-content: center;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
.basket-tov-summ{
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 0px 0 15px;
    width: 15%;
}
.basket-tov-summ>strong{
font-size: 16px;
}
.basket-tov-summ>span{
    font-size: 10px;
    font-weight: 600;
    padding: 5px 0 0 3px;
}
.basket-tov-dell{
    float: left;
    padding: 0 0px 0;
    text-align: center;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    width: 10%;
}
.basket-tov-dell i{
cursor: pointer;
padding: 0 10px;
opacity: 0.7;
}
.basket-tov-dell i:hover{
opacity: 1;
color: #000;
}

.basket-tov-desk-kod{
    margin: 0px 0 5px;
    float: left;
    width: 100%;
}
.basket-tov-desk-kod>strong{
    margin: 5px 0 0;
    font-weight: 500;
    padding: 0 0 5px;
    font-size: 10px;
    float: left;
    text-decoration: underline;
}
.basket-tov-desk-kod>span{
    float: left;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 3px;
    background: #e8ebf1;
    font-weight: 500;
    margin: 0 4px 0 10px;
    color: #343434;
    float: left;
}
.basket-tov-desk-kod>span>span{
    font-size: 11px;
}
.basket-bottom{
width: 100%;
margin: 30px 0 0 0;
text-align: right;
}
.basket-tov-desk-type{
    float: left;
    width: 100%;
}
.basket-tov-desk-type>strong{
/*    width: 100%;*/
    margin: 5px 0 0;
    font-weight: 500;
    padding: 0 0 5px;
    font-size: 10px;
    float: left;
    text-decoration: underline;
}
.basket-tov-desk-type>span{
    float: left;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 3px;
    background: #e8ebf1;
    font-weight: 500;
    margin: 0 4px 0 10px;
    color: #343434;
}
.basket-tov-desk-type>span>span{
    font-size: 11px;
}
.header-logout .el-dialog{
    padding: 20px;
    border-radius: 6px;
}
.header-logout form .el-button{
    float: right;
    margin: 10px 0 0 0;
}
.header-logout .el-select{
    float: left;
    width: 100%;
}
.header-logout label.el-checkbox{
    float: left;
    width: 100%; 
}
.navbar-user{
    float: right;
    padding: 0px 0px 0px 0;
    cursor: pointer;  
}
.navbar-user .demo-type{
    float: left;
}
.navbar-user .el-avatar{
    width: 33px;
    height: 33px;
    float: left;
    line-height: 34px;
    font-size: 16px;
    margin: 0 10px 0 0;
}
.navbar-user .el-menu--horizontal>.el-submenu .el-submenu__title {
    height: auto;
    line-height: 2.3;
    margin: 0;
    border: none;
    font-size: 13px;
    font-weight: 500;
}
.navbar-user .el-menu.el-menu--horizontal{
    border: none;
} 
body .navbar-user .el-icon-user-solid{
    margin-right: 0px;
}
body .navbar-user .el-submenu__title{
    font-size: 14px;
    color: #303133;
    padding: 0px 20px;
    cursor: pointer;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    min-width: 200px;
    height: auto;
    line-height: 2.3;
}
body .navbar-user .el-submenu__title:hover {
    background-color: #ffffff;
    color: #3a8ee6 !important;
}
body .navbar-user .navbar-user-item{
    height: 43px;
    line-height: 43px;
    padding: 0 20px !important;
    min-width: 200px;
}
.navbar-user-item a,.navbar-user-item span{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    float: left;
    width: 100%;
}
.navbar-user .el-icon--right {
    margin-top: 10px;
}
.demo-type-span{
    padding: 7px 0 0;
    float: left;
}
.navbar-user .el-menu{
    border-right: none;
}
.navbar-user ul .el-menu{
    position: absolute;
    z-index: 111;
    right: 0px;
    box-shadow: rgb(0 0 0 / 58%) 0px 15px 19px -13px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: none;
    margin: 10px 0 0 0;
}
.navbar-user ul .el-submenu__icon-arrow{
    margin-top: -4px;
}
.dialog-back-block{
    width: 100%;
    margin: 0 0 20px;
}
.manufacturer-navbar-ul{

}
.popover-nav .manufacturer-navbar-ul li{
    width: auto;
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
}
.mount-filter-section{
    float: left;
    width: 25%;
}
.mount-catalog{
    float: left;
    width: 75%;
}
.mounters-list-block{
    float: left;
    width: 100%;
    margin: 0 0 20px;
}
.mounters-list-img{
    height: 160px;
    margin: 0;
    width: 160px;
    float: left;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
    position: relative;
}
.mounters-list-img .el-image {
    float: left;
    width: 100%;
    height: 100%;
}
.mounters-list-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.mounters-block-left{
    margin: 0px 0 0 180px;
    padding: 10px 0 0;
}
.mounters-block-left>a{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: #333;
}
.mounters-block-left>a:hover{
    color: #000;
}
.mounters-block-left-tags{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.mounters-block-left-tags>strong{
    font-weight: 500;
    font-size: 12px;
    margin: 0 5px 0 0px;
}
.mounters-block-left-tags i{

}
.mounters-block-left>p{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.3;
    height: 40px;
    overflow: hidden;
}
.mounters-block-left>span{
    float: left;
    width: 100%;
    font-weight: 500;
}
.mounters-block-left>span>i{
    margin: 0 5px 0 0;
}
.h1-mounter{
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
}
.mounter-img{
    width: 22%;
    height: 210px;
    margin: 0;
    float: left;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
    position: relative;
}
.mounter-img .el-image{
    float: left;
    width: 100%;
    height: 100%;
}
.mounter-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
} 
.mounter-section{
    float: left;
    width: 78%;
    padding: 30px;
}
.mounter-tags{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}

.mounter-tags>i{

}
.mounter-tags>strong{
    font-weight: 500;
    font-size: 12px;
    margin: 0 5px 0 0px;
}
.mounter-section>p{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    font-size: 15px;
    max-width: 600px;
    line-height: 1.3;
}
.mounter-region{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.mounter-region>i{

}
.mounter-region>span{

}
.mounter-phone{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.mounter-phone a{
    
}
.mounter-phone i{

}
.monter-galery{
    float: left;
    width: 100%;
    margin: 30px 0;
}
.monter-galery{

}
.monter-galery h2{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 17px;
}
.monter-galery-block{
    float: left;
    width: 100%;
    margin: 0 0 20px;
}
.monter-galery-img{

}
.monter-galery-img .el-image{
    float: left;
    width: 140px;
    height: 140px;
    margin: 0 10px 0 0;
    border-radius: 7px;
    border: 1px solid #e2e2e2;
}
.monter-galery-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.monter-galery-left{
    padding: 10px 0px 0px 10px;
    display: table-cell;
}
.monter-galery-left>span{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #3f3f3f;
}
.monter-galery-left>p{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.3;
    max-width: 700px;
}
.monter-galery-left>strong{
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 12px;
}
.monter-galery-left>strong>i{
    margin: 0 5px 0 0;
}
.monter-galery-plus{
    float: left;
    width: 100%;
    padding: 6px;
    text-align: center;
    background-color: #ffffff;
    font-size: 13px;
    color: #409EFF;
    cursor: pointer;
}
.monter-galery-plus:hover{
    color: #207bd6;
}
.mounter-form .el-form-item__content{
    width: 100% !important;
    max-width: 430px !important;
}
.mounter-form .el-form-item__label{
    width: 100% !important;
    line-height: initial;
    float: left;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    display: flex;
    align-items: center;
    text-align: left;

    
}
.mounter-form .el-input__inner{
    width: 100% !important;
    height: 30px;
    font-size: 13px;
    padding: 0 35px 0 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0px;
    border-bottom: 1px solid #DCDFE6;
}
.mounter-form .el-form-item{
    margin: 0 0 5px !important;
}
.mounter-form .el-checkbox__label{
    font-size: 12px;
}
.but-icon-save-mounter{
    margin: 20px 0 0 !important;
}
.cat-filter-section{

}
.catalog-list-tags{
    width: 100%;
    margin: 0 0 5px;
    padding: 0 10px;
} 
.catalog-list-tags>span{
    margin: 0 10px 0 0;
}
@media (max-width: 1100px){
    .catalog-list-img{
        width: 170px;
    }
    .catalog-list-block-desc {
        margin: 0px 0 0 185px;
    }
    .catalog-list-block-desc>a, .catalog-list-block-desc>span{
        font-size: 12px;
    }
    .catalog-list-block-price>strong{
        font-size: 21px;
    }
    .catalog-list-block-price>span{
        margin: 6px 0 0 5px;
    }
    .catalog-list-block-cost>strong {
        font-size: 11px;
    }    
    .catalog-list-block-discount{
        top: -14px;
    }
    .h1-product {
        margin: 15px 0 15px;
        font-size: 16px;
    }    
    .h2-product{
        margin: 0px 0 15px;
    }
    .galery{
        width: 100%;
        margin: 0 0 15px;
    }
    .cost-product-section{
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    .galery-index,.galery-extra{
        height: 180px;
    }
    .galery-extra-block{
        height: 90px;
    }
}
@media (max-width: 991px){
    .cat-filter-section,.catalog-list,.mount-filter-section,.mount-catalog{
        width: 100%;
    }
    .el-carousel__container{
        height: 280px !important;
    }
    .title h1{
        font-size: 18px;
    }
    .title-h2{
        margin: 0px 0 20px !important;
    }
    .index-topcat-block{
        height: 90px;
    }
    .index-topcat-block>img{
        padding: 0 0 0 10px;
    }
    .index-topcat-block>strong{
        font-size: 10px;
    }
    .index-desc-block{
        padding: 25px;
    }
    .index-desc-text h4{
        font-size: 14px;
    }
    .index-desc-img .el-image{
        top: -60px;
        height: 140px;
    }
    .index-desc-text p{
        font-size: 9px;
    }
    .index-desc{
        margin: 80px 0 0px;
    }
    .index-brand-block{
        height: 160px;
    }
    .catalog-list-img {
        width: 150px;
        height: 160px;
    }
    .catalog-list-block-desc {
        margin: 0px 0 0 165px;
    }
    .catalog-list-block-desc>a, .catalog-list-block-desc>span {
        height: 100px;
    }
    .catalog-list-input{
        margin: 162px 0 0 0;
    }
    .catalog-list-block {
        padding: 0px;
        margin: 0 0 15px;
    }
    .el-tabs__item{
        font-size: 12px !important;
        padding: 0 10px !important;
    }
    .logotip img {
        max-height: 100%;
        width: 80px;
    }
    .header-nav{
        margin: 0 0 0 10px;
    }
    .header-nav .header-cat {
        padding: 8px 10px;
        font-size: 11px;
    }   
    .header-logout>button {
        border: none;
        font-size: 9px;
        padding: 10px 0px;
    } 
    .popover-nav .popper__arrow {
        left: 140px !important;
    }
    .demo-type-span {
        display: none;
    }
    .el-dialog{
        width: 95% !important;
    }
    .dialog-footer .el-button,.el-button-group>.el-button:first-child:last-child {
        font-size: 10px;
        padding: 8px 10px;
    }
    .el-button+.el-button {
        margin-left: 5px;
    }
    .link-navbar {
        /* display: none; */
        width: 12px;
        margin: 0px 0px 0 2px;
        float: left;
        overflow: hidden;
        padding: 0;
    }
    .header-basket {
        float: right;
        margin: 0 10px;
    }
    footer {
        margin: 60px 0 0 0;
        padding: 30px 0;
    }
    .el-backtop{
        right: 10px !important;
    }
    .catalog-paginated {
        width: 100%;
    }
    body .el-dialog__body {
        padding: 10px 0px 10px;
    }
    .header-logout .el-dialog__header {
        padding: 0px 0px 10px;
    }
    .header-basket>button {
        font-size: 20px;
        padding: 3px 5px;
    }
    .el-dialog__title {
        font-size: 15px !important;
    }    
    .el-form .el-form-item__content {
        line-height: 35px;
    }
    .el-form .el-form-item {
        margin-bottom: 12px;
    }
    .el-form .el-input__inner{
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }    
    .el-dropdown-menu__item{
        line-height: 32px;
        font-size: 13px;
    }
    .popover-nav>ul li {
        list-style: none;
        float: left;
        width: 50%;
    }
    .popover-nav>ul li a i {
        margin: 0 5px 0px 0px;
    }
    .popover-nav>ul li a {
        padding: 5px 10px 5px 0;
        font-size: 11px;
    }  
    .popover-nav .manufacturer-navbar-ul li {
        width: auto;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
    } 
    .el-checkbox-group .el-button--text{
        float: left;
        width: 100%;
        padding: 0px;
        font-size: 15px;
    } 
    header {
        margin-bottom: 20px;
    }
    .el-breadcrumb{
        font-size: 11px !important;
    }
    .header-basket .el-dialog__body {
        padding: 10px 10px 20px;
    }
    .el-dialog__header {
        padding: 20px 10px 10px;
    }
    .el-dialog__title {
        font-size: 15px;
    }  
    .basket-tov-img {
        float: left;
        width: 90px;
    }   
    .basket-tov-desk {
        margin-left: 100px;
    }
    .basket-tov-desk-kod {
        margin: 5px 0 5px;
    }
    .basket-tov-desk-kod>span,.basket-tov-desk-type>span {
        font-size: 10px;
        padding: 3px 5px;
        margin: 2px 4px 0 10px;
    }          
    .basket-tov-desk .basket-tov-desk-left{
        height: auto;
        width: 100%;
        font-size: 11px;
        padding: 0 0px 0 0;
    }
    .basket-tov-cost {
        padding: 15px 0px 0 0px;
        width: 50%;
        height: auto;
    }
    .basket-tov-calc {
        padding: 10px 0;
        width: 50%;
        justify-content: left;
        height: auto;
    }
    .basket-tov-summ {
        height: auto;
        padding: 8px 0px 0 0px;
        width: 50%;
    }
    .basket-tov-dell {
        padding: 10px 0;
        font-size: 19px;
        height: auto;
        width: 50%;
    }
    .basket-itog-summ>strong {
        font-size: 16px;
    }
    .basket-itog-summ>span {
        font-size: 12px;
    }
    .form-basket .el-collapse-item__header {
        height: 44px;
        font-size: 13px;
    }
    .form-basket .el-radio__label {
        font-size: 12px;
        padding-left: 10px;
    }
    .but-next-form>span {
        padding: 6px 18px;
    }
    .form-basket .el-collapse-item__content {
        padding-bottom: 15px;
    }   
    .collapse-data .el-input__inner {
        height: 34px;
        line-height: 34px;
        font-size: 12px;
    }     
    .nav-cabinet a {
        padding: 8px 3px;
        font-size: 11px;
    }
    .profile-cab-right {
        padding: 0 0 0 10px !important;
        margin: 0 0 0 0px !important;
        float: left;
        width: 100%;
    }
    .form-user-cab .el-input__inner{
        width: 220px !important;
    }
    .form-user-cab .el-input.is-disabled .el-input__inner{
        width: 220px !important;
    }
    .form-user-cab .but-icon-save {
        left: auto !important;
        right: 0px !important;
    }    
    .cat-filter-title {
        margin: 0 0 15px;
        font-size: 13px;
    }
    .mounters-list-img {
        height: 150px;
        width: 150px;
    }   
    .mounters-block-left {
        margin: 0px 0 0 165px;
    }
    .mounters-block-left>a {
        font-size: 14px;
    }    
    .mounters-block-left>p {
        font-size: 13px;
        height: 35px;
    }    
    .mounter-img {
        width: 40%;
        height: 150px;
        margin: 0;
    }
    .mounter-section {
        width: 60%;
        padding: 15px;
    } 
    .monter-galery h2{
        font-size: 14px;
    }        
    .el-pagination{
        padding: 2px 0 !important;
    }
    .el-pager li {
        min-width: 32.5px !important;
    }   
    .monter-galery-img .el-image {
        width: 100px;
        height: 100px;
    }     
    .catalog-list-tags {
        margin: 0 0 10px;
        padding: 0px 0px;
    }
    .catalog-list-tags .el-tag {
        height: 26px;
        line-height: 26px;
        font-size: 9px;
    }    
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.el-loading-mask {
    position: fixed !important;
}